# requirements.txt

altgraph
asttokens
auto-py-to-exe
bottle
bottle-websocket
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
comm
comtypes
contourpy
cycler
debugpy
decorator
Eel
executing
filelock
fonttools
fsspec
future
gevent
gevent-websocket
greenlet
idna
ipykernel
ipython
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
llvmlite
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numba
numpy
opencv-contrib-python
packaging
parso
pefile
pillow
platformdirs
Pmw
progress
prompt_toolkit
psutil
pure_eval
pycparser
pygame
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyparsing
python-dateutil
python-dotenv
pywin32
pywin32-ctypes
pyzmq
requests
scipy
shapely
shiboken6
six
stack-data
sympy
tornado
traitlets
typing_extensions
urllib3
wcwidth
whichcraft
zope.event
zope.interface
